<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="table job-listing">
        <tr th:each="job: ${jobs}">
            <td>
                <p th:style="${'color: Green'}">ID: <span th:style="${'color: white'}" th:text="${job.id}"></span></p>
                <p th:style="${'color: Green'}">Name: <span th:style="${'color: white'}" th:text="${job.name}"></span></p>
                <p th:style="${'color: Green'}">Employer: <a th:style="${'color: white'}" th:href="@{/list/jobs(column=${'employer'},value=${job.employer})}" th:text="${job.employer}"></a></p>
                <p th:style="${'color: Green'}">Location: <a th:style="${'color: white'}" th:href="@{/list/jobs(column=${'location'},value=${job.location})}" th:text="${job.location}"></a></p>
                <p th:style="${'color: Green'}">Position Type: <a th:style="${'color: white'}" th:href="@{/list/jobs(column=${'positionType'},value=${job.positionType})}" th:text="${job.positionType}"></a></p>
                <p th:style="${'color: Green'}">Skill: <a th:style="${'color: white'}" th:href="@{/list/jobs(column=${'coreCompetency'},value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a></p>
            </td>
        </tr>
    </table>


</div>

</body>
</html>